body{
    padding:0;
    margin:0;
    background:#eee;
    position:relative;
    font-family: 'Open Sans', sans-serif;
  }
h1,h2,h3,h4,h5,h6{
	margin:0;	
	font-family: 'Open Sans', sans-serif;
}	
p {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 1em;
  color:black;
  line-height: 1.9em;
  }  
  .gallery {
   padding: 110px 0 0 0; 
  }
 .button-group {
  margin:  0 0 0px 0; 
 } 
  .button-group h2 {
    color:#000;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 20px 0; 
  }
  .button {
    display: inline-block;
    padding: 8px 20px;
    background: #ffffff;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #007bc4;
    margin: 10px;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
  }
  
  .button:hover {
    background-color: #007bc4;
    color:#fff;
  }
  
  .button:active,
  .button.is-checked {
    background-color: #007bc4;
    outline: none;
    color:white;
    box-shadow: 0 2px 0 #000;
  }
  
  .button-group:after {
    content: '';
    display: block;
    clear: both;
  }
  
  img {
    height: 174px;
  }
  
  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
  }
  .img-responsive:hover {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
  }
  
  .grid article {
    background-color: #FFFFFF;
    display: block;
    float: left;
    width: 25%;
    height: 200px;
  }
  
  @media (max-width: 1024px) {
    .grid article {
      width: 31.3%;
    }
  }
  
  @media (max-width: 767px) {
    .grid article {
      width: 48%;
    }
  }
   @media (max-width: 479px) {
    .grid article {
      margin: 2% 0;
      width: 100%;
    }
  }
  .imagePanel
  {
    padding: 10px;
  }
